.scrollSnap {
  position: relative;
  flex-basis: 50%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.content {
  position: relative;
}

.screen {
  scroll-snap-stop: always;
  transition: opacity calc(var(--transition-duration) * 2);
  transition-delay: var(--transition-duration);
  opacity: 1;
}

.screen.hidden {
  opacity: 0;
  transition-delay: 0s;
}

.scrollInfo {
  padding-bottom: 10rem;
}

@media screen and (max-width: 1000px) {
  .scrollInfo {
    padding-bottom: 12rem;
  }
}
