.scrollSnap {
  position: relative;
  flex-basis: 50%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.content {
  position: relative;
}

.screen {
  scroll-snap-stop: always;
}

.scrollInfo > * > * {
  transition: opacity calc(var(--transition-duration) * 2)
    calc(var(--transition-duration) * 2);
  opacity: 1;
}

.scrollInfo.hidden > * > * {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: 0s;
}

.scrollInfo.forceShow > * > *:last-child {
  opacity: 1;
  transition: none;
}

.scrollInfo.forceShow > * > *:not(:last-child) {
  opacity: 1;
}

.scrollInfo {
  padding-bottom: 13rem;
}

@media screen and (max-width: 1000px) {
  .scrollInfo {
    box-sizing: border-box;
    padding-bottom: 9rem;
  }
}

@media screen and (max-width: 500px) {
  .scrollInfo {
    padding-bottom: 0;
  }
}
