.agreement {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.policy {
  display: grid;
  gap: 1.8rem;
  margin-top: 2.25rem;
}

.list {
  display: grid;
  gap: .25rem;
  margin-top: .25rem;
}
