.scrollSnap {
  position: relative;
  flex-basis: 50%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.screen {
  position: relative;
  display: flex;
  flex-direction: column;
}

.screen.snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
