#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

#overlay.frontLayer {
  z-index: 1;
}

.titleWrapper {
  position: fixed;
  top: 0;
  left: 0;
}

.title,
.marquee,
.contacts,
.floatingMenu,
.hint,
.controls {
  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
}

.title,
.marquee {
  pointer-events: none;
}

.contacts,
.controls,
.hint {
  pointer-events: all;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.remove {
  display: none !important;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  padding-top: 3rem;
  text-align: center;
}

.marquee {
  margin-top: 2rem;
}

.floatingMenu {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  width: 100%;
  padding: 0 2.25rem;
  box-sizing: border-box;
}

.floatingMenu > * {
  display: flex;
  align-items: center;
}

.floatingMenu > *:first-child {
  justify-content: flex-start;
}

.floatingMenu > *:nth-child(2) {
  justify-content: center;
}

.floatingMenu > *:nth-child(3) {
  justify-content: flex-end;
}

.link {
  padding-bottom: 0.25rem;
}

.link.dark {
  border-bottom: 1px solid var(--secondary-color);
}

.link.light {
  border-bottom: 1px solid var(--primary-color);
}

.hint {
  display: flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--transition-duration);
}

.swipeDownIcon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-top: 2px;
  margin-left: .5rem;
  animation: swipeDown 2s ease-in-out infinite;
}

.hint:hover {
  text-decoration-color: var(--secondary-color);
}

.startJourneyWrapper {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: 8.75rem;
  transition-property: transform, top, bottom, right, opacity;
  transition-duration: calc(var(--transition-duration) * 2);
}

.startJourneyWrapper.scale {
  pointer-events: none;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, -50%);
}

.startJourneyWrapper.scale {
  transform: scale(var(--scale-size)) translate(15%, -7%);
}

.logo.hidden {
  transition: opacity calc(var(--transition-duration) * 2)
    calc(var(--transition-duration) * 3);
}

@keyframes swipeDown {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {
  .title {
    padding-top: 1rem;
  }

  .startJourneyWrapper {
    bottom: 4.5rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    padding-top: 3rem;
  }

  .floatingMenu {
    bottom: 2rem;
    align-items: flex-end;
  }

  .startJourneyWrapper {
    bottom: 8.75rem;
  }

  .hint {
    padding-bottom: 4.5rem;
  }
}
