.app {
  width: 100%;
  min-height: 100vh;
}

.app.dark {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.app.dark a {
  color: var(--secondary-color);
}

.app.light {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.app.light a {
  color: var(--primary-color);
}
