.startJourney {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.startJourney,
.startJourney > * {
  pointer-events: none;
}

.startJourney.light > .button {
  color: var(--primary-color);
}

.startJourney > * {
  padding: 0 0.25rem;
}

.startJourney > *:first-child {
  text-align: right;
}

.startJourney > *:nth-child(2) {
  display: flex;
  justify-content: flex-start;
}

.button {
  /* width: 8rem; */
  font-size: 1.2rem;

  text-decoration: underline;
  text-decoration-color: transparent;
  transition-property: text-decoration-color, opacity;
  transition-duration: var(--transition-duration);

  -webkit-text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  -webkit-transition-property: text-decoration-color, opacity;
  -webkit-transition-duration: var(--transition-duration);

  pointer-events: all;

  box-sizing: content-box;
}

.startJourney.dark > .button:hover {
  text-decoration-color: var(--secondary-color);
  -webkit-text-decoration-color: var(--secondary-color);
  background-color: var(--primary-color);
}

.startJourney.light > .button:hover {
  text-decoration-color: var(--primary-color);
  -webkit-text-decoration-color: var(--primary-color);
  background-color: var(--d);
}

.button.hidden {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.logoWrapper {
  width: 7.75rem;
  height: 3.5rem;
}

.logo {
  width: 100%;
  height: 100%;
}

.startJourney.dark .logo {
  filter: invert(1);
}

.startJourney.light .logo {
  filter: var(--filter-to-primary-color);
}
