.scrollInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}

.scrollInfo.dark {
  color: var(--primary-color);
}

.scrollInfo.light {
  color: var(--secondary-color);
}

.titleWrapper {
  position: relative;
}

.stickyTitle {
  position: sticky;
  top: 8rem;
  right: 0rem;
  font-size: 4rem;
}

.infoWrapper {
  display: grid;
  gap: 1rem;
  padding-top: 6.5rem;
}
