html,
button,
input,
select {
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-radius: 0;
}

body {
  overflow: hidden;
  transition: background-color calc(var(--transition-duration) * 1);
}

ul {
  list-style: disc;
  padding-left: 2rem;
}