:root {
  --width: 1920px;
  --max-width: 1200px;

  --primary-color: #121212;
  --secondary-color: #fff;

  --border-radius: 12px;

  --font-size: 20px;
  --title-font-size: 4rem;
  --font-family: CraftworkGrotesk, sans-serif;

  --transition-duration: 0.25s;

  --filter-to-primary-color: invert(0%) sepia(13%) saturate(160%)
    hue-rotate(317deg) brightness(92%) contrast(86%);

  --scale-size: 205;
}

@media screen and (max-width: 2560px) {
  :root {
    --scale-size: 87;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --scale-size: 83;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --scale-size: 75;
    --font-size: 16px;
    --title-font-size: 2rem;
  }
}
