.app {
  max-width: var(--max-width);
  width: 100%;
}

.app.dark {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.app.light {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.content {
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}
