.form {
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.checkbox {
  margin-top: 1.5rem;
}

.policy {
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  height: 2.2rem;
  margin-top: 2.75rem;
  transition: opacity var(--transition-duration);
}

.button .icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  transition: transform var(--transition-duration);
}

.button:hover {
  opacity: 0.7;
}

.button:hover .icon {
  transform: translateX(1px);
}

.loading {
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }
  
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .inputs {
    grid-template-columns: minmax(0, 1fr);
  }
}
