.link {
  text-decoration: none;
  transition: opacity var(--transition-duration);
}

.link.dark {
  color: var(--secondary-color);
}

.link.light {
  color: var(--primary-color);
}

.link:hover {
  opacity: 0.7;
}
